
:root{
   --purple:#8e44ad;
   --red:#c0392b;
   --orange:#f39c12;
   --black:#333;
   --white:#fff;
   --light-color:#666;
   --light-white:#ccc;
   --light-bg:#f5f5f5;
   --border:.1rem solid var(--black);
   --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
   --border: 0.1rem solid var(--black);
   --box-shadow1: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
   --box-shadow2: 0 4px 10px rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.message{
   position: sticky;
   top:0;
   margin:0 auto;
   background-color: rgb(254, 181, 195);
   padding: 2rem;
   display: flex;
   align-items: center;
   justify-content: space-between;
   z-index: 1000;
   gap:1.5rem;
   font-family: "Lobster", cursive;
   font-size: 2rem;
}

.message span{
   font-size: 2rem;
   color: #000;
}

.message i{
   cursor: pointer;
   color:var(--red);
   font-size: 2.5rem;
}

.message i:hover{
   transform: rotate(90deg);
}


.form-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem; 
    background-color: #f4eae6;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}


.form-container form {
    width: 50rem;
    background-color: hsl(117, 26%, 30%);
    border-radius: 0.5rem;
    padding: 2rem;
    box-shadow: var(--box-shadow1);
    text-align: center;
}

.form-container form h3 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: #f0eded;
}

.form-container form .box {
    width: 45rem;
    padding: 1.2rem 1.8rem;
    margin: 1rem 0;
    border-radius: 0.5rem;
    background-color: #edf5e1;
    font-size: 1.5rem;
    font-family: "Lobster", cursive;
    color: #061001;
    border: #6b8e23;
}

.form-container form .btn {
  display: inline-block;
  background: #2e4600 ; 
  padding: 0.7rem 3rem;
  margin: 1rem;
  cursor: pointer;
  color: #f9eaea;
  border-radius: 0.5rem;
  border: 0.3rem solid #7a9200;
  text-transform: capitalize;
  transition: 0.3s;
  font-size: 1.8rem;
}

.form-container form .btn:hover {
   background: #7a9200;
  
}

.form-container form p {
    margin: 0 0.5rem;
    padding: 0.5rem;
    font-size: 2rem;
    color: #132104;
    font-family: "Lobster", cursive;
    
}


.form-container form p a {
    color: #a7c957;
    font-family: "Lobster", cursive;
}

.form-container form p a:hover {
    text-decoration: underline;
}

.form-container form .error-msg {
  background: crimson;
  color: rgb(253, 249, 249);
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.5rem;
}

.form-container form .error-msg i {
  cursor: pointer;
}

