@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap");

:root {
  --purple: #8e44ad;
  --red: #c0392b;
  --orange: #f39c12;
  --black: #333;
  --white: #fff;
  --light-color: #666;
  --light-white: #ccc;
  --light-bg: #f5f5f5;
  --border: 0.1rem solid var(--black);
  --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

*::selection {
  background-color: var(--purple);
  color: var(--white);
}

*::-webkit-scrollbar {
  height: 0.5rem;
  width: 1rem;
}

*::-webkit-scrollbar-track {
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--purple);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  padding: 3rem 2rem;
  background-color: #1a3f22;
}

.empty {
  padding: 1.5rem;
  text-align: center;
  border: var(--border);
  background-color: var(--white);
  color: var(--red);
  font-size: 2rem;
}
.title {
  text-align: center;
  margin-bottom: 2rem;
  text-transform: uppercase;
  color: #fff;
  font-size: 4rem;
}

.btn,
.option-btn,
.delete-btn,
.white-btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  cursor: pointer;
  color: #000;
  font-size: 1.8rem;
  border-radius: 0.5rem;
  text-transform: capitalize;
}

.btn:hover,
.option-btn:hover,
.delete-btn:hover {
  background-color: var(--black);
  color: #fff;
}

.white-btn,
.btn {
  background-color: #a6e333;
}

.option-btn {
  background-color: #edf118;
}

.delete-btn {
  background-color: #4caf50;
}

.white-btn:hover {
  background-color: var(--white);
  color: crimson;
}

.heading {
  min-height: 30vh;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background: url(../images/2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.heading h3 {
  font-size: 5rem;
  color: #000;
  text-transform: uppercase;
}

.heading p {
  font-size: 2.5rem;
  color: var(--light-color);
}

.heading p a {
  color: var(--purple);
}

.heading p a:hover {
  text-decoration: underline;
}

@keyframes fadeIn {
  0% {
    transform: translateY(1rem);
    opacity: 0.2s;
  }
}

.header .header-2 {
  background-color: #4CAF50;
  box-shadow: var(--box-shadow);
}

.header .header-2.active {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header .header-2 .flex {
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  position: relative;
}

.header .header-2 .flex .logo {
  font-size: 3rem;
  font-weight: 700;
  color: #000;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.header .logo span {
  color: #fff;
  font-weight: 400;
  font-size: 2rem;
  opacity: 0.9;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.header .header-2 .flex .navbar a {
  margin: 0 1rem;
  font-size: 2rem;
  color: #000;
  font-family: "Lobster", cursive;
}

.header .header-2 .flex .navbar a:hover {
  color: #fff;
  text-decoration: underline;
}

.header .header-2 .flex .icons > * {
  font-size: 2.5rem;
  color: var(--black);
  cursor: pointer;
  margin-left: 1.5rem;
}

.header .header-2 .flex .icons > *:hover {
  color: #fff;
}

#menu-btn {
  display: none;
}

.header .flex .user-box {
  position: absolute;
  top: 120%;
  right: 2rem;
  background-color: #dcf4d5;
  border-radius: 0.5rem;
  box-shadow: var(--box-shadow);
  border: var(--border);
  padding: 2rem;
  text-align: center;
  width: 30rem;
  display: none;
  animation: fadeIn 0.2s linear;
}

.header .flex .user-box.active {
  display: inline-block;
}

.header .flex .user-box p {
  font-size: 2rem;
  color: var(--light-color);
  margin-bottom: 1.5rem;
}

.header .flex .user-box p span {
  color: #3224f6;
}

.header .flex .user-box .delete-btn {
  margin-top: 0;
}

.home {
  min-height: 70vh;
  background: url(../images/111.jpeg) no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.home .content {
  background: rgba(0, 0, 0, 0.35); 
  backdrop-filter: blur(5px); 
  -webkit-backdrop-filter: blur(5px);
  padding: 3rem 4rem;
  border-radius: 12px;
  max-width: 65rem;
  color: #fff;
  box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}


.home .content h3 {
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  background: #f1f1f1 /*linear-gradient(90deg, #e799f2, #ea75e8, #d848e6);
  -webkit-text-fill-color: transparent;
  */
  -webkit-background-clip: text;
}

.home .content p {
  font-size: 1.8rem;
  color: var(--light-white);
  padding: 2rem;
  line-height: 1.5;
}

.products .box-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 30rem);
  align-items: flex-start;
  background-color: #1a3f22;
  gap: 1.5rem;
  justify-content: center;
}

.products .box-container .box {
  border-radius: 0.5rem;
  background-color: #d99201;
  box-shadow: var(--box-shadow);
  padding: 2rem;
  text-align: center;
  border: var(--border);
  position: relative;
}

.products .box-container .box .image {
  height: 30rem;
}

.products .box-container .box .name {
  padding: 1rem 0;
  font-size: 2rem;
  color: var(--black);
}

.products .box-container .box .qty {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border-radius: 0.5rem;
  border: var(--border);
  margin: 1rem 0;
  font-size: 2rem;
}

.products .box-container .box .price {
  position: absolute;
  top: 1rem;
  left: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 2.5rem;
  color: var(--white);
  background-color: var(--red);
}

.about .flex {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.about .flex .image {
  flex: 1 1 40rem;
}

.about .flex .image img {
  width: 100%;
}

.about .flex .content {
  flex: 1 1 40rem;
  padding: 2rem;
  background-color: #edf5e1;
}

.about .flex .content h3 {
  font-size: 3rem;
  color: var(--black);
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
}

.about .flex .content p {
  padding: 1rem 0;
  line-height: 2;
  font-size: 1.7rem;
  color: var(--light-color);
  font-family: "Lobster", cursive;
}

.home-contact {
  background-color: var(--black);
}

.home-contact .content {
  max-width: 60rem;
  text-align: center;
  margin: 0 auto;
}

.home-contact .content h3 {
  font-size: 3rem;
  text-transform: uppercase;
  color: var(--white);
}

.home-contact .content p {
  padding: 1rem 0;
  line-height: 1.5;
  color: var(--light-white);
  font-size: 1.7rem;
}

.contact form {
  margin: 0 auto;
  background-color: hsl(116, 35%, 38%);
  border-radius: 0.5rem;
  border: var(--border);
  padding: 2rem;
  max-width: 50rem;
  margin: 0 auto;
  text-align: center;
}

.contact form h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: var(--black);
}

.contact form .box {
  margin: 1rem 0;
  width: 100%;
  border: var(--border);
  background-color: #edf5e1;
  padding: 1.2rem 1.4rem;
  font-size: 1.8rem;
  color: var(--black);
  border-radius: 0.5rem;
  font-family: "Lobster", cursive;
  border: #6b8e23;
}

.contact form textarea {
  height: 20rem;
  resize: none;
}

.shopping-cart .box-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, 30rem);
  align-items: center;
  gap: 1.5rem;
  justify-content: center;
}

.shopping-cart .box-container .box {
  text-align: center;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: #edf5e1;
  box-shadow: var(--box-shadow);
  position: relative;
  border: var(--border);
}

.shopping-cart .box-container .box .fa-times {
  position: absolute;
  top: 1rem;
  right: 1rem;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  background-color: var(--red);
  color: var(--white);
  border-radius: 0.5rem;
}

.shopping-cart .box-container .box .fa-times:hover {
  background-color: var(--black);
}

.shopping-cart .box-container .box img {
  height: 30rem;
}

.shopping-cart .box-container .box .name {
  padding: 1rem 0;
  font-size: 2rem;
  color: var(--black);
}

.shopping-cart .box-container .box .price {
  padding: 1rem 0;
  font-size: 2.5rem;
  color: var(--red);
}

.shopping-cart .box-container .box input[type="number"] {
  margin: 0.5rem 0;
  border: var(--border);
  border-radius: 0.5rem;
  padding: 1.2rem 1.4rem;
  font-size: 2rem;
  color: var(--black);
  width: 9rem;
}

.shopping-cart .box-container .box .sub-total {
  padding-top: 1.5rem;
  font-size: 2rem;
  color: var(--light-color);
}

.shopping-cart .box-container .box .sub-total span {
  color: var(--red);
}

.shopping-cart .cart-total {
  max-width: 1200px;
  margin: 0 auto;
  border: var(--border);
  padding: 2rem;
  text-align: center;
  margin-top: 2rem;
  border-radius: 0.5rem;
}

.shopping-cart .cart-total p {
  font-size: 2.5rem;
  color: var(--light-color);
}

.shopping-cart .cart-total p span {
  color: var(--red);
}

.shopping-cart .cart-total .flex {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  margin-top: 1.5rem;
  justify-content: center;
}

.shopping-cart .disabled {
  pointer-events: none;
  opacity: 0.5;
  user-select: none;
}

.display-order {
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 0;
}

.display-order p {
  background-color: var(--light-bg);
  color: var(--black);
  font-size: 2rem;
  padding: 1rem 1.5rem;
  border: var(--border);
  display: inline-block;
  margin: 0.5rem;
}

.display-order p span {
  color: var(--red);
}

.display-order .grand-total {
  margin-top: 2rem;
  font-size: 2.5rem;
  color: var(--light-color);
}

.display-order .grand-total span {
  color: var(--red);
}

.checkout form {
  max-width: 1200px;
  padding: 2rem;
  margin: 0 auto;
  border: var(--border);
  background-color: hsl(116, 35%, 38%);
  border-radius: 0.5rem;
}

.checkout form h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--black);
  text-transform: uppercase;
  font-size: 3rem;
}

.checkout form .flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.checkout form .flex .inputBox {
  flex: 1 1 40rem;
}

.checkout form .flex span {
  font-size: 2rem;
  color: var(--black);
}

.checkout form .flex select,
.checkout form .flex input {
  border: var(--border);
  width: 100%;
  border-radius: 0.5rem;
  width: 100%;
  background-color: #edf5e1;
  padding: 1.2rem 1.4rem;
  font-size: 1.8rem;
  margin: 1rem 0;
}

.placed-orders .box-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.5rem;
  
}

.placed-orders .box-container .empty {
  flex: 1;
}

.placed-orders .box-container .box {
  flex: 1 1 40rem;
  border-radius: 0.5rem;
  padding: 2rem;
  border: var(--border);
  background-color: #edf5e1;
  padding: 1rem 2rem;
}

.placed-orders .box-container .box p {
  padding: 1rem 0;
  font-size: 2rem;
  color: var(--light-color);
}

.placed-orders .box-container .box p span {
  color: #0caba8;
}

.search-form form {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 1rem;
}

.search-form form .btn {
  margin-top: 0;
}

.search-form form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  border: var(--border);
  font-size: 2rem;
  color: var(--black);
  background-color: var(--light-bg);
  border-radius: 0.5rem;
}

.footer {
  background-color: #4caf50;
}

.footer .box-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 3rem;
}

.footer .box-container .box h3 {
  text-transform: uppercase;
  color: var(--black);
  font-size: 2rem;
  padding-bottom: 2rem;
}

.footer .box-container .box p,
.footer .box-container .box a {
  display: block;
  font-size: 1.7rem;
  color: #ffffff;
  padding: 1rem 0;
}

.footer .box-container .box p i,
.footer .box-container .box a i {
  color: #2e0505;
  padding-right: 0.5rem;
}

.footer .box-container .box a:hover {
  color: var(--purple);
  text-decoration: underline;
}
